/* section certificados */
.grid-container {
  width: 100;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  padding: 30px;
  gap: 16px;
  background-color: #667ac8;
  min-height: calc(100vh - 310px);
}

/* tarjeta contenedora */
.grid-item {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(15, 22, 72);
  width: 270px;
  height: auto;
  border-radius: 10px;
  background-color: rgb(52, 59, 141);
  padding: 5px;
}

.grid-container a {
  text-decoration: none;
}

.card-item {
  width: 260px;
  height: auto;
  margin: auto;
  margin-top: 5px;
}

.img-cert {
  width: 99%;
  height: 180px;
  border-radius: 10px 10px 0 0;
}

/* Contenedor del nombre del curso */
.nombre-curso {
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-name {
  width: 85%;
  color: white;
  text-align: center;
  font-size: 14px;
}

@media (max-width: 630px) {
  .grid-container {
    padding: 20px;
    gap: 20px;
  }

  .grid-container a {
    padding: 0;
    margin: 0;
    justify-content: center;
  }

  .grid-item {
    width: 80%;
    margin: 0 auto;
  }

  .card-item {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .img-cert {
    width: 100%;
    height: 230px;
  }

  .nombre-curso {
    min-height: 80px;
  }

  .img-name {
    font-size: 14px;
  }
}
